@page
@model newarticleModel

@{
    ViewData["Title"] = "newarticle";
}

<h1>New Article</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <partial name="_article_form" model="Model.Article" />
    <input type="hidden" asp-for="ReturnPage" />
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
